* {
  margin: 0;
  box-sizing: inherit;
}
  
.mainContainer {
  margin: 0 auto;
  max-width: 768px;
  margin-top: 20px;

}

.profile {
  display: flex;
}

.pic {
  border-radius: 70%;
  width: 150px;
  height: 150px;

}

.userInfo {
  margin-left: 3rem;
  margin-top: 2rem;
}

.description {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

hr {
  margin-top: 1rem;
  color: rgb(180, 175, 175);
}