.container {
  margin: 0 auto;
  max-width: 84rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputs {
  display: flex;
  border: 1px solid rgb(173, 181, 189);
  align-items: center;
  transition: all 0.125s ease-in 0s;
  cursor: text;
  width: 50rem;
  height: 4rem;
  padding: 0px 1.5rem;
  background-color: white;
}

.inputs input {
  transition: all 0.125s ease-in 0s;
  font-size: 24px;
  flex: 1 1 0%;
  display: block;
  padding: 0px;
  border: none;
  outline: 0px;
  color: rgb(73, 80, 87);
  min-width: 0px;
}
